* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}

a, p {
  text-decoration: none;
  color: #8F98A0;
}
/* utilitis */
/* liste inline */
.list-inline {
  padding: 10px 20px;
}
.list-inline li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-inline a:hover {
  color: black;
}
/* button */
.btn {
  padding: 13px 18px;
  border-radius: 10px;
  outline: none;
  border: 0;
  font-weight: bolder;
  cursor: pointer;
}
.btn-grey {
  color: #3E4043;
}
.btn-grey:hover {
  background-color: #DADBDB;
}
.btn-black {
  padding: 15px 18px;
  margin-left: 5px;
  background-color: #191C1F;
  color: #ffff;
}
.btn-black:hover {
  background-color: #3E4043;
}
.wrapper {
  width: 90%;
  margin: auto;
}
/* header */
/* header-top */
.header-top {
  width: 100%;
  height: 80px;
  background-color: #F3F4F5;
}
.row-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 12px;
}
.cookie-top {
  display: flex;
  align-items: center;
}
.cookie-top a {
  padding-left: 3px;
  color: #4087E5;
}
.btn-top {
  display: flex;
  align-items: center;
}
.btn-top a {
  padding-right: 5px;
}
.btn-cookie {
  background-color: #F3F4F5;
  border: 1px solid  #8F98A0;
  color: #8F98A0;
}
.btn-cookie:hover {
  border: 1px solid  #191C1F;
  transition: 2s;
}
/* /header-top */
/* header-bottom */
.header-bottoom {
  width: 100%;
  height: 110px;
}
.row-header-bottom  {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-bottom-start {
  display: flex;
  align-items: center;
}
.logo img {
  width: 40px;
  margin-right: 10px;
}
.header-bottom-end {
  display: flex;
  align-items: center;
}
/* undre list */
.under-list {
  position: absolute;
  display: none;
  top: 38px;
  width: 170px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #ffff;
}
.under-list li {
  display: block;
  padding-right: 0px;
  padding-bottom: 10px;
}
.active {
  display: block;
}
.submenu.active-flex {
  display: flex;
}
#position-static {
  position: static;
}
.submenu {
  position: absolute;
  left: 0;
  top: 74px;
  width: 100%;
  display: none;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 25px;
  background-color: #ffff;
}
.submenu ul {
  padding-top: 20px;
}
.submenu li {
  display: block;
  color: #CED5DB;
}
/* /header-bottom */
/* /header */
/* main */
.jumbotron {
  display: flex;
  padding: 80px 0;
}
#jumbotron-title {
  width: 50%;
  padding-right: 125px;
}
#jumbotron-title h1 {
  font-size: 70px;
  padding-bottom: 30px;
}
#jumbotron-img {
  width: 50%;
}
#jumbotron-img img {
  width: 70%;
}
